{% extends "header.html" %}

{% block title %} Apply {% endblock %}


{% block header %} 
{% endblock %}

{% block body %}
  <center>
<section id="one">
  
    <div class="container wow fadeInUp __web-inspector-hide-shortcut__" style="visibility: visible; animation-name: fadeInUp;">

    
    <div style="margin-top:70px;" class="card card-block text-xs-center">
      <h3 class="card-title">Apply</h3>
      <p class="card-text">
        <form method="POST" action="/apply/{{ job_id }}/">
            
            <textarea name="message" id="message" class="form-control" style="resize:vertical;" placeholder="Write about yourself, your experience, and the job you're applying for"></textarea>
      <br>
      
            <input type="submit" class="btn btn-primary" value="Apply now">
            
        </form>
        
        
        
        
     
    </div>
  
  
     

</section>
  </center> 



    {% endblock %}