{% extends "header.html" %}

{% block title %} Home {% endblock %}


{% block header %} 

 <header id="first">
    <div class="header-content">
        <div class="inner">
            <h1>Welcome to Jobs Board</h1>
            <h5 class="wow fadeIn text-normal wow fadeIn">A quick tool for workers and employers to connect</h5>
            <a href="#" class="btn btn-primary-outline btn-xl page-scroll wow fadeInUp m-t-3">Find Jobs</a>
        </div>
    </div>
</header>
{% endblock %}
{% block body %}




    {% endblock %}