{% extends "header.html" %}

{% block title %} {{ job.job_name }} {% endblock %}


{% block header %} 
{% endblock %}

{% block body %}
  <center>
<section id="one">
  
    <div class="container wow fadeInUp __web-inspector-hide-shortcut__" style="visibility: visible; animation-name: fadeInUp;">

    
    <div style="margin-top:70px;" class="card card-block text-xs-center">
      <h3 class="card-title">{{ job.job_name }}</h3>
      <p class="card-text">
       
          <h4>Description:</h4>
          <p>{{ job.job_desc }} </p>
        
        <h4>Posted by:</h4>
          <p>{{ job.job_poster }} </p>
        
        <h4>Posted on:</h4>
          <p>{{ job.job_posted.strftime('%m/%d/%y at %l:%M %p') }} </p>
      
       {% if session.logged_in %}
        
        <a href="/apply/{{ job.id }}"><btn class="btn btn-primary">Apply</btn></a>
        {% endif %}
{% if session.username == job.job_poster %}

   <a href="/delete/{{ job.id }}"><btn class="btn btn-danger-outline">Delete</btn></a>
        {% endif %}
     
     
     
</div>
        
        
    </div>
  
  
     

</section>
  </center> 



    {% endblock %}