{% extends "header.html" %}

{% block title %} {{ category.capitalize() }} {% endblock %}


{% block header %} 
{% endblock %}

{% block body %}
  <center>
<section id="one">
  
    <div class="container wow fadeInUp __web-inspector-hide-shortcut__" style="visibility: visible; animation-name: fadeInUp;">

    
    <div style="margin-top:70px;" class="card card-block text-xs-center">
      <h3 class="card-title">Showing jobs in: {{ category.capitalize() }}</h3>
      <p class="card-text">
       
          <ul class="list-group">
              {% if not listings %}
              <div class="alert alert-danger">No listings in this category</div>
              {% else %}
              {% for listing in listings %}
              <li class="list-group-item"><a href="/job/{{ listing.id }}">{{ listing.job_name }}</a></li>

{% endfor %}
              {% endif %}
</ul>
        
     
     
     
</div>
        
        
    </div>
  
  
     

</section>
  </center> 



    {% endblock %}